# MuseScore auto-backup files
*.mscz,
*.mscz~
*.mscx~

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Editor/IDE
.vscode/
.idea/

# MuseScore app internals
META-INF/
Thumbnails/
Excerpts/
audiosettings.json
viewsettings.json
exports/
